*{
	box-sizing: border-box;
	border-collapse: collapse;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.container{
	margin: 0px auto;
	width: 640px;
}
.square{
	background: saddlebrown;
	border: 1px solid #999;
	cursor: pointer;
	float: left;
	height: 80px;
	width: 80px;
}
.container div.even{
	background: lightyellow;
}
.square:hover{
	opacity: 0.75;
}

.vertical{
	left: 0;
	position: absolute;
}
.number{
	display: inline-block;
	font-size: 24px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	width: 80px;
}
.vertical .number{
	display: block;
}